@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--background-color);
}

a {
  text-decoration: none;
}

ul,
p,
h1,
h2,
h3,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section, .our-team {
  /* outline: solid 3px green; */
  padding-top: 94px;
  padding-bottom: 94px;
}

.container, .header {
  /* outline: solid 3px red; */
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}
.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 480px) {
  .header {
    background-color: red;
  }
}
@media screen and (max-width: 400px) {
  .header {
    border: black 1px solid;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #2196f3;
}
.logo span {
  color: #000;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.nav-item:not(:first-child),
.contacts-item:not(:first-child) {
  margin-left: 50px;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.contacts-icon {
  fill: #757575;
}

.contacts-icon:hover,
.contacts-icon:focus {
  fill: #2196F3;
}

.nav-link,
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.nav-link {
  position: relative;
  color: #212121;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-link:hover, .nav-link:focus {
  color: #2196f3;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  border-radius: 2px;
  background: #2196F3;
  height: 4px;
  width: 100%;
  opacity: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.contacts-link {
  color: #757575;
}
.contacts-link:hover, .contacts-link:focus {
  color: #2196f3;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background: url(../зображення/Overlay.png), rgba(47, 48, 58, 0.4);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .container, .hero .header {
  text-align: center;
}

h1 {
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}

.hero-button {
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  background-color: #2196f3;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.advantages .title,
.advantages .text {
  font-size: 14px;
  line-height: 16px;
}
.advantages .title {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 55px;
  margin-bottom: 10px;
}
.advantages .text {
  font-weight: 400;
  color: #757575;
}
.advantages .item {
  width: 270px;
}

.item.antenna::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  background-image: url(../зображення/antenna\ 1.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.item.clock::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  background-image: url(../зображення/clock\ 1.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.item.diagram::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  background-image: url(../зображення/diagram\ 1.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.item.astronaut::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  background-image: url(../зображення/Group.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.section-title {
  text-align: center;
  padding-bottom: 50px;
}

.what-we-do {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.what-we-do img {
  width: 370px;
  height: 294px;
}

.what-we-do-list {
  position: relative;
}

.position-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 107px;
  padding-right: 107px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.section-photos {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
  fill: Solid #ffffff;
}

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  background-color: #ffffff;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 10px;
}

.job {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}

.members-list {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFF;
  margin: 15px;
  padding-bottom: 30px;
}

.members {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
}

.our-team {
  background-color: #F5F4FA;
}

.network-icon {
  fill: currentColor;
}

.svg-link {
  width: 44px;
  height: 44px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #AFB1B8;
}
.svg-link:hover, .svg-link:focus {
  background-color: #2196f3;
  border-radius: 50%;
  color: #fff;
}

.svg-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.members-img {
  width: 270px;
  margin-bottom: 30px;
}

.section.client > h2, .client.our-team > h2 {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.client-items {
  border-radius: 4px;
  border: 1px solid #AFB1B8;
}
.client-items:focus, .client-items:hover {
  border-color: #2196F3;
}
.client-items a {
  color: #AFB1B8;
  padding: 16px 32px;
}
.client-items a:focus,
.client-items a:hover {
  color: #2196F3;
}

.client-svg {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
}

.footer .logo > span {
  color: #fff;
}

address {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.footer .contacts-list {
  display: block;
}

.footer .contacts-item:not(:first-child) {
  margin-left: 0;
}

.footer .contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}

.foto-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.foto-items {
  width: calc((100% - 90px) / 3);
  margin: 15px;
  border: 1px solid #EEEEEE;
  width: 370px;
}

.job-title {
  color: #212121;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
  margin-bottom: 4px;
}

.job-text {
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.48px;
}

.container-foto {
  /* padding-left: 24px;
          padding-right: 24px; */
  /* padding: 20px 24px; */
  padding: 20px 24px 20px 24px;
}

.opacity-container {
  position: relative;
  overflow: hidden;
}

.opacity-text {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(130%);
          transform: translateY(130%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.opacity-container:hover .opacity-text,
.opacity-container:focus .opacity-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc((100% - 80px) / 5);
}

.container-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: -8px;
}

.button-items {
  margin: 8px;
}

.button {
  border-radius: 4px;
  background-color: #F5F4FA;
  border: none;
  padding: 6px 22px;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
}

.button:hover,
.button:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.backdrop {
  z-index: 1;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  padding: 0px 40px 0px 40px;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background: #FFF;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.cross-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  margin: 8px 8px;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.cross {
  fill: #000;
  width: 18px;
  height: 18px;
}

.cross-btn:hover .cross,
.cross-btn:focus .cross {
  fill: #2196F3;
}

.text-form {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin: 40px 0px 2px 0px;
}

.form-items > input {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.form-items > label {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-top: 10px;
}

.form-items > textarea {
  width: 448px;
  height: 120px;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.form-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.agreement-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#agreement {
  width: 16px;
  height: 15px;
  margin-left: 10px;
  margin-top: 25px;
  margin-right: 0;
}

#agreement-text {
  display: inline-block;
  margin-top: 20px;
  margin-left: 7px;
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.42px;
}

.agreement-link {
  color: #2196F3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.form-btn {
  color: #FFF;
  padding: 10px 52px;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-left: 124px;
  margin-right: 124px;
  margin-bottom: 40px;
  margin-top: 30px;
}

#coment {
  padding: 12px 16px 12px 16px;
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.people {
  position: absolute;
  left: 52px;
  top: 96px;
}

.phone {
  position: absolute;
  top: 154px;
  left: 52px;
}

.post {
  position: absolute;
  top: 213px;
  left: 52px;
}

.form-input {
  outline: none;
}

.form-items:focus-within .form-input {
  border-color: #2196F3;
}

.form-items:focus-within .svg {
  fill: #2196F3;
}/*# sourceMappingURL=main.css.map */