 :root {
        --primary-text-color: #212121;
        --secondary-text-color: #757575;
        --logo-color: #000;
        --accent-color: #2196f3;
        --background-color: #fff;
        --hero-background-color: #2f303a;
    }

    html {
        box-sizing: border-box;
    }

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    body {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        letter-spacing: 0.03em;

        color: var(--primary-text-color);
        background-color: var(--background-color);
    }

    a {
        text-decoration: none;
    }

    ul,
    p,
    h1,
    h2,
    h3,
    li {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    /* загальні стилі */

    .section {
        /* outline: solid 3px green; */

        padding-top: 94px;
        padding-bottom: 94px;
    }

    .container {
        /* outline: solid 3px red; */
        
            width: 1200px;
            padding-left: 15px;
            padding-right: 15px;
            margin-left: auto;
            margin-right: auto;
            width: 1440px;
    }

    /* header */

    .container.header {
        display: flex;
        justify-content: center;
        align-items: center;

        padding-top: 24px;
        padding-bottom: 25px;
    }

    .header nav {
        display: flex;
        justify-content: center;
        align-items: center;
    } 

    .logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;

        color: var(--accent-color);
    }

    .logo > span {
        color: var(--logo-color);
    }

    .nav-list {
        display: flex;

        margin-left: 93px;
    }

    .nav-item:not(:first-child),
    .contacts-item:not(:first-child) {
        margin-left: 50px;
    }

    .contacts-list {
        display: flex;
        align-items: center;

        margin-left: auto;
    }

    .contacts-icon{
        fill: #757575;
    }

    .contacts-icon:hover,
    .contacts-icon:focus{
        fill:#2196F3;
    }

    .nav-link,
    .contacts-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    }

    .nav-link {
        position: relative;
        color: var(--primary-text-color);

        padding-top: 32px;
        padding-bottom: 32px;
    }

    .nav-link::after{
        content: '';
        position: absolute;
        
            left: 0;
            bottom: 0;
        
            display: block;
            border-radius: 2px;
            background: #2196F3;
            height: 4px;
            width: 100%;
            opacity: 0;
            transform: scaleX(0);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
                opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link:hover::after{
        opacity: 1;
        transform: scaleX(1);
    }

    .contacts-link {
        color: var(--secondary-text-color);
    }

    .nav-link:hover,
    .nav-link:focus,
    .contacts-link:hover,
    .contacts-link:focus{
        color: var(--accent-color);
    }

    /* Герой */
    .hero {
        padding-top: 200px;
        padding-bottom: 200px;
        background: url(./зображення/Overlay.png), rgba(47, 48, 58, 0.4);
        background-repeat: no-repeat;
        background-size: 100% ;
    }

    .hero .container {
        text-align: center;
    }

    h1 {
        width: 696px;

        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;

        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        color: var(--background-color);
    }

    .hero-button {
        border: none;
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

        padding: 10px 32px;

        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.06em;
        text-align: center;

        color: var(--background-color);
        background-color: var(--accent-color);
    }

    /* Переваги */

    .advantages {
        display: flex;
        justify-content: space-between;
    }

    .advantages .item {
        width: 270px; 
    }

    .item.antenna::before{
        content: '';
        display: block;
        width: 270px;
        height: 120px;
        background-color: #F5F4FA;
        border-radius: 4px;
        background-image: url(./зображення/antenna\ 1.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .item.clock::before{
        content: '';
            display: block;
            width: 270px;
            height: 120px;
            background-color: #F5F4FA;
            border-radius: 4px;
            background-image: url(./зображення/clock\ 1.png);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
    }

         .item.diagram::before {
             content: '';
             display: block;
             width: 270px;
             height: 120px;
             background-color: #F5F4FA;
             border-radius: 4px;
             background-image: url(./зображення/diagram\ 1.png);
             background-position: center;
             background-size: contain;
             background-repeat: no-repeat;
         }

         .item.astronaut::before {
             content: '';
             display: block;
             width: 270px;
             height: 120px;
             background-color: #F5F4FA;
             border-radius: 4px;
             background-image: url(./зображення/Group.png);
             background-position: center;
             background-size: contain;
             background-repeat: no-repeat;
         }

    .advantages .title,
    .advantages .text {
        font-size: 14px;
        line-height: 16px;
    }

    .advantages .title {
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 55px;

        margin-bottom: 10px;
    }

    .advantages .text {
        font-weight: 400;

        color: var(--secondary-text-color);
    }

    .section-title {
        text-align: center;
        padding-bottom: 50px;
    }

    /* Чим ми займаємось */

    .what-we-do {
        display: flex;
        justify-content: space-between;
    }

    .what-we-do-list{
        position: relative;
    }

    .position-text{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        padding-top: 27px;
        padding-bottom: 27px;
        padding-left: 107px;
        padding-right: 107px;

        background-color: rgba(47, 48, 58, 0.80);
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
    }

    .what-we-do img {
        width: 370px;
        height: 294px;
    }

    /* Наша команда */

    
    .section-photos {
        padding-top: 94px;
        padding-bottom: 94px;
        background-color: #f5f4fa;
        fill: Solid #ffffff;
    }

    .photos {
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }

    .name {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        background-color: #ffffff;
        justify-content: space-evenly;
        align-items: flex-end;
        margin-bottom: 10px;
    }

    .job{
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
    }

    /* .posision {
        box-shadow: #000;
        display: flex;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        background-color: #ffffff;
        padding: 0;
        height: 90px;
        text-align: center;
        justify-content: space-evenly;
        align-items: flex-start;
        color: var(--secondary-text-color);
     }   */

 .members-list{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFF;
    margin: 15px; 
    padding-bottom: 30px; 
} 

    .members{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        margin: 15px;
    }

    .section.our-team{
        background-color: #F5F4FA; 
    } 

    .network-icon{
        fill: currentColor;
    }

    .svg-link{
        width: 44px;
        height: 44px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: #AFB1B8;
    }

    .svg-link:hover,
    .svg-link:focus{
        background-color: var(--accent-color);
        border-radius: 50%;
        color: var(--background-color);
    }

    .svg-list{
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .members-img{
        width: 270px;
        margin-bottom: 30px;
    }

    /* клієнти */
    .section.client > h2{
        color: #212121;
            text-align: center;
            font-family: Roboto;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1.08px;

        margin-left: auto;
        margin-right: auto; 
        margin-bottom: 50px;  
    }
    .client-list{
        display: flex;
        justify-content: space-evenly;
    }

    .client-items{
        border-radius: 4px;
        border: 1px solid #AFB1B8;
    }

    .client-svg{
        fill: currentColor; 
    }

    .client-items a{
        color: #AFB1B8;
        padding: 16px 32px;
    }

    .client-items a:focus,
    .client-items a:hover{
        color: #2196F3;
    }

    .client-items:focus,
    .client-items:hover{
        border-color: #2196F3;
    }
    /* футер */
    .footer {
        background-color: var(--hero-background-color);
    }

    .footer .logo > span {
            color: var(--background-color);
        }

        address {
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;

            color: var(--background-color);
        }

.footer .contacts-list{
    display: block;
}

        .footer .contacts-item:not(:first-child){
            margin-left: 0;
        }

        .footer .contacts-link {
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;

            color: rgba(255, 255, 255, 0.6);
        }
/* Портфоліо */
        .foto-list{
            display: flex;
            flex-wrap: wrap;
            margin: -15px;
        }

        .foto-items{
            width: calc((100% - 6 * 15px) / 3);
            margin: 15px;
            border: 1px solid #EEEEEE;
            width: 370px;
        }

        .job-title{
            color: #212121;
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 36px;
            letter-spacing: 1.08px;
            margin-bottom: 4px;
        }

        .container-foto{
            /* padding-left: 24px;
            padding-right: 24px; */
            /* padding: 20px 24px; */
            padding: 20px 24px 20px 24px;
        }

        .opacity-container{
            position: relative;
            overflow: hidden;
        }

        .opacity-text{
            position: absolute;

            left: 0;
            top: 0;
            right: 0;
            bottom: 0;

            padding-top: 63px;
            padding-bottom: 63px;
            padding-left: 24px;
            padding-right: 24px;

            color: #FFF;
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0.54px;

            background: rgba(33, 150, 243, 0.90);

            transform: translateY(130%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        .opacity-container:hover .opacity-text,
        .opacity-container:focus .opacity-text{
            transform: translateY(0);
        }

        .button-list{
            display: flex;
            justify-content: center;
            width: calc((100% - 10 * 8) / 5);
            
      
        }

         .container-button{
            display: flex;
            justify-content: center;
            flex-wrap: nowrap; 
            margin: -8px;
        } 

        .button-items{
            margin: 8px;
              
        }

        .button{
            border-radius: 4px;
            background-color: #F5F4FA;
            border: none;
            padding: 6px 22px;
            margin-bottom: 50px;
             font-weight: 500;
                font-size: 16px;
                line-height: 26px;
            
                text-align: center;
                letter-spacing: 0.03em; 
        }

        .button:hover,
        .button:focus{
            background-color: #2196F3;
            color: #FFFFFF;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }

        /* модальне вікно */
.backdrop{
    z-index: 1;
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   background: rgba(0, 0, 0, 0.20);
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.modal{
    position: relative;

    padding: 0px 40px 0px 40px;

    width: 528px;
    height: 581px;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.cross-btn{
    position: absolute;
    top: 0;
    right: 0;


    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    background-color: #fff;

    margin: 8px 8px;

    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.10);;
}

.cross{
    fill: #000;

    width: 18px;
    height: 18px;
}

.cross-btn:hover .cross,
.cross-btn:focus .cross{
    fill: #2196F3;
}

.text-form{
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;

    margin: 40px 0px 2px 0px;
}

.form-items > input{
    width: 448px;
    height: 40px;

    padding-left: 42px;

    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
}

.form-items > label{
    color: #757575;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;

    margin-top: 10px;
}

.form-items> textarea{
    width: 448px;
    height: 120px;

    resize: none;

    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);

}

.form-list{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.agreement-container{
    display: flex;
    justify-content: center;
}

#agreement{
    width: 16px;
    height: 15px;
    margin-left: 10px;
    margin-top: 25px;
    margin-right: 0;
}

#agreement-text{
    display: inline-block;
    margin-top: 20px;
    margin-left: 7px;
    color: #757575;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 171.429% */
        letter-spacing: 0.42px;
}

.agreement-link{
    color: #2196F3;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.42px;
        text-decoration-line: underline;
}

.form-btn{
    color: #FFF;
    padding: 10px 52px;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px; 
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-left: 124px;
    margin-right: 124px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.form > input:hover{
    border: 1px solid #2196F3;
}

#coment{
    padding: 12px 16px 12px 16px;
    color: rgba(117, 117, 117, 0.50);
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.12px;
}

.people{
    position: absolute;
    left: 52px;
    top: 96px;
}

.phone{
    position: absolute;
    top: 154px;
    left: 52px;
}

.post{
    position: absolute;
    top: 213px;
    left: 52px;
    fill: #000;
}

.form-input{
    outline: none;
}

.form-items:focus-within .form-input{
    border-color: #2196F3;
}

.form-items:focus-within svg{
    fill: #2196F3;
}