.advantages {
    @media  screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    @media screen and (min-width: $desktop) {
        @include flexContainer(space-between);
    }

    .title,
    .text {
            font-size: 14px;
            line-height: 16px;
        }

    .title {
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 55px;

        margin-bottom: 10px;
        @media screen and (max-width: $mobile) {
            text-align: center;
        }
    }

    .text {
        font-weight: 400;

        color: $SecondaryTextColor;
    }

    .item {

        @media screen and (min-width: $mobile) {
                width: 450px;
                &:not(:last-child) {
                        margin-bottom: 30px;
                    }
            }
        @media  screen and (min-width: $tablet) {
            margin: 15px;
            width: calc((100% - 30px * 2) / 2);
        }
       @media screen and (min-width: $desktop) {
        width: 270px;
       }

    }
}

.item.antenna::before {
    content: '';
    display: block;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    background-image: url(../зображення/antenna\ 1.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.item.clock::before {
    content: '';
    display: block;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    background-image: url(../зображення/clock\ 1.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.item.diagram::before {
    content: '';
    display: block;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    background-image: url(../зображення/diagram\ 1.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.item.astronaut::before {
    content: '';
    display: block;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    background-image: url(../зображення/Group.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.section-title {
    text-align: center;
    padding-bottom: 50px;
}