.section {
    /* outline: solid 3px green; */

    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    /* outline: solid 3px red; */

    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
}