.footer {
    background-color: $HeroBackgroundColor;
}

.footer .logo>span {
    color: $BackgroundColor;
}

address {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: $BackgroundColor;
}

.footer .contacts-list {
    display: block;
}

.footer .contacts-item:not(:first-child) {
    margin-left: 0;
}

.footer .contacts-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: rgba(255, 255, 255, 0.6);
}