.footer {
    background-color: $HeroBackgroundColor;
}

.footer.container{
    padding: 0;

    @media screen and (min-width:1600px) {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    @media screen and (min-width:768px) and (max-width:1999px) {
        padding-top: 60px;
    }
}

.first-container{
    display: flex;

    @media screen and (min-width:768px) and (max-width:1999px) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        margin-right: 165px;
    }
    
    @media screen and (max-width:767px) {
        flex-direction: column;
        align-items: center;
    }
}

.footer .logo>span {
    color: $BackgroundColor;
}

address {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: $BackgroundColor;

    @media screen and (max-width:767px) {
        margin-top: 20px;
    }
}

.footer .contacts-list {
    display: block;
}

.footer .contacts-item:not(:first-child) {
    margin-left: 0;
}

.footer .contacts-item{
    @media screen and (max-width:767px) {
        margin-top: 8px;
    }
}

.footer .contacts-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: rgba(255, 255, 255, 0.6);
}

.mobile-title{
    margin-bottom: 20px;
    margin-top: 60px;   
    color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
}

.mobile-list{
    display: flex;
    justify-content: center;
}

.mobile-items{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.10);

    padding: 12px;

    &:not(:last-child){
        margin-right: 10px;
    }
}

.subscribe-container{
    margin-top: 60px;
}

.subscribe-list{
    display: flex;
    @media screen and (max-width:767px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    @media screen and (min-width:767px) and (max-width:1999px) {
        flex-direction: column;
        align-items: center;
    }
}

.subscribe-title{
    color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 20px;    
}

.subscribe-input{
    width: 450px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgba(255, 255, 255, 0.60);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        /* 125% */
        letter-spacing: 0.48px;

    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    margin-bottom: 20px;
}

.subscribe-button{
    display: inline-block;
    padding-left: 31px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 28px;
    margin-bottom: 60px;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: 0;

    color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        /* 187.5% */
        letter-spacing: 0.96px;
}

.tablet-container{
    @media screen and (min-width:768px) {
        display: flex;
        // margin-right: 93px;
        flex-direction: row;
        padding-right: 89px;
        padding-left: 76px;
    }
}

.desktop-subscribe-conatiner{
    @media screen and (min-width:480px) {
        display: flex;
        align-items: center;   
        flex-direction: column; 
    }

    @media screen and (min-width:2000px) {
        display: flex;
        flex-direction: row;
    }
}