.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: image-set("../зображення/Hero@1x.jpg" 1x,
                                "../зображення/Hero@2x.jpg" 2x,
                                "../зображення/Hero@3x.jpg" 3x);
    background-color: rgba(47, 48, 58, 0.4);
    background-repeat: no-repeat;
    background-size: cover;

    // @media (min-device-pixel-ratio: 1),
    //        (min-resolution: 96dpi),
    //        (min-resolution: 1dppx) {
    //     background: 
    //     url(../зображення/Hero@1x.jpg) rgba(47, 48, 58, 0.4)
    //     image-set("../зображення/Hero@1x.jpg" 1x);
    //     background-size: cover;
    // }

    // @media (min-device-pixel-ratio: 2),
    // (min-resolution: 192dpi),
    // (min-resolution: 2dppx) {
    //     background: 
    //     url(../зображення/Hero@2x.jpg) rgba(47, 48, 58, 0.4)
    //     image-set("../зображення/Hero@2x.jpg" 2x);
    //     background-size: cover;
    // }

    // @media (min-device-pixel-ratio: 3),
    // (min-resolution: 288dpi),
    // (min-resolution: 3dppx) {
    //     background: 
    //     url(../зображення/Hero@3x.jpg) rgba(47, 48, 58, 0.4)
    //     image-set("../зображення/Hero@3x.jpg" 3x);
    //     background-size: cover;
    // }

    & .container {
            text-align: center;
        }
}

.hero-title {

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

    

    color: $BackgroundColor;

    font-family: Roboto;
    color: #FFF;
    text-transform: uppercase;

    @media screen and (min-width:$mobile) {
            font-size: 26px;
            font-style: normal;
            font-weight: 900;
            line-height: 42px;
            letter-spacing: 1.56px;
    }

    @media screen and (min-width:$desktop) {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    }
}

.hero-button {
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    padding: 10px 32px;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;

    color: $BackgroundColor;
    background-color: $Accentcolor;
}