.section-photos {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #f5f4fa;
    fill: Solid #ffffff;
}

.photos {
    @include flexContainer(space-evenly);
    padding: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background-color: #ffffff;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-bottom: 10px;
}

.job {
    @include flexContainer(center);
    padding-bottom: 30px;
}

.members-list {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFF;
    margin: 15px;
    padding-bottom: 30px;
}

.members {
    margin-left: auto;
    margin-right: auto;
    @include flexContainer(center);
    align-items: center;
    margin: 15px;
}

.our-team {
    @extend .section;
    background-color: #F5F4FA;
}

.network-icon {
    fill: currentColor;
}

.svg-link {
    width: 44px;
    height: 44px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;

    &:hover,
    &:focus{
        background-color: $Accentcolor;
        border-radius: 50%;
        color: $BackgroundColor;
    }
}

.svg-list {
    @include flexContainer(center);
    gap: 10px;
}

.members-img {
    width: 270px;
    margin-bottom: 30px;
}